---

---


<article class="card">
    <div class="card__header">
        <figure class="card__figure">
            <img src="" alt="">
        </figure>
    </div>

    <div class="card__body">
        <h2 class="card__title">title</h2>
        <h3 class="card__subtitle">subtitle</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, blanditiis?</p>
    </div>

</article>


